Flask==2.0.3
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
numpy==1.21.2
opencv-python-headless==4.5.5.64
gunicorn==20.1.0
python-dotenv==1.0.1
werkzeug==2.0.3
requests  # Asegúrate de que esta línea esté presente